<div class="col">
  <div class="card custom-card">
    <img src="{{ saveProduct && saveProduct.hotelPhotoPath }}" alt="" class="card-img">
    
    <div class="card-body custom-card-body">
      <h3 class="card-title custom-card-title">{{ saveProduct && saveProduct.hotelName }}</h3>
      
      <p class="card-text custom-card-text">{{ saveProduct && saveProduct.hotelDescription }}</p>
      
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button (click)="makeBooking()" type="button" class="btn btn-primary custom-btn">Book</button>
        </div>
        <small class="text-body-secondary custom-small-text">9 mins ago</small>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="loginToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Notification</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Please log in to proceed with booking.
    </div>
  </div>
</div>
